{% extends 'base.html.twig' %}

{% block title %}Team List{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h2>Team List</h2>
            <p><a href="{{ path('team_new') }}" class="btn btn-primary">Add New Team</a></p>
        </div>
    </div>
    <div class="row">
        {% for team in teams %}
            <div class="col-md-4 p-2">
                <div class="border rounded bg-light p-3">
                    <div class="alert alert-warning text-center" role="alert">
                        <strong>{{ team.categoryid.name }}</strong>
                    </div>
                    <p class="text-center"><a href="{{ path('team_show', {'teamid': team.teamid}) }}"><img src="{{ team.logourl }}" alt="{{ team.name }}" class="img-fluid"></a></p>
                    <h3 class="text-center"><a href="{{ path('team_show', {'teamid': team.teamid}) }}" class="text-decoration-none">{{ team.name }} (ID {{ team.teamid }})</a></h3>
                    <p class="text-center">Ranked at no. <strong>{{ team.leagueranking }}</strong> in the <strong>{{ team.leagueid.name }}</strong></p>
                    <p>{{ team.description }}</p>
                    <p>
                        <a href="{{ path('team_show', {'teamid': team.teamid}) }}" class="btn btn-primary m-1">Details</a>
                        <a href="{{ path('team_edit', {'teamid': team.teamid}) }}" class="btn btn-primary m-1">Edit</a>
                    </p>
                </div>
            </div>
        {% else %}
            <div class="col-md-12">
                <div class="alert alert-danger text-center" role="alert">
                    No Team Records Found
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
