{% extends 'base.html.twig' %}

{% block title %}{{ team.name }}{% endblock %}

{% block body %}
    <h2>Team Information</h2>
    <p><a href="{{ path('team_index') }}" class="btn btn-primary">Back To All Teams</a></p>
    <div class="row mt-4">
        <div class="col-md-2 text-center">
            <p><img src="{{ team.logourl }}" alt="{{ team.name }}" class="img-fluid"></p>
        </div>
        <div class="col-md-10">
            <h3>{{ team.name }}</h3>
            <p><span class="badge bg-secondary">{{ team.categoryid.name }}</span></p>
            <p class="fs-5">Ranked at no. {{ team.leagueranking }} in the {{ team.leagueid.name }}</p>
            <p>{{ team.description }}</p>
            <p><a href="{{ path('team_edit', {'teamid': team.teamid}) }}" class="btn btn-primary">Edit</a></p>
            <p>{{ include('team/_delete_form.html.twig') }}</p>

            <div class="row">
                <div class="col-md-12">
                    <h4>Team Members</h4>
                </div>
            </div>
            <div class="row">
                {% for member in members %}
                    <div class="col-md-3">
                        <div class="alert alert-light border">
                            <p class="alert alert-warning text-center"><strong>{{ member.teamid.name }}</strong></p>
                            <p class="text-center">
                                <img src="{{ member.photourl }}" class="img-fluid border rounded">
                            </p>
                            <h4>
                                {% if member.academictitle %}
                                    {{ member.academictitle }}&nbsp;
                                {% endif %}
                                {{ member.firstname }}
                                {% if member.middlenames %}
                                    &nbsp;{{ member.middlenames }}&nbsp;
                                {% endif %}
                                {{ member.lastname }}
                            </h4>
                            <p>
                                <strong>Role:</strong> {{ member.roleid.name }}<br/>
                                <strong>Nationality:</strong> {{ member.nationality.name }}
                            </p>
                            <p><a href="{{ path('person_edit', {'personid': member.personid}) }}" class="btn btn-primary btn-sm">Edit</a></p>
                        </div>
                    </div>
                {% else %}
                    <div class="col-md-12">
                        <div class="alert alert-danger text-center" role="alert">
                            No team members found
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>


{% endblock %}
