{% extends 'base.html.twig' %}

{% block title %}EventRadar{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12">
            <img src="/assets/events/mainpromo.jpg" alt="Welcome to EventRadar" class="img-fluid w-100 rounded">
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12 mb-4 text-center">
            <h2>Sports Events</h2>
            <h3>Today is {{ "now"|date("D, d. M Y") }}</h3>

            <div class="dropdown my-4">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    Sports Categories
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="/">All <strong>Future</strong> Events</a></li>
                    <li><hr class="dropdown-divider"></li>
                    {% for category in categories %}
                        <li>
                            <a class="
                                dropdown-item
                                {% if category.name == searchterm %}
                                    active
                                {% endif %}
                                " href="{{ path('category_filter', {'categoryname': category.name}) }}">
                                All <strong>{{ category.name }}</strong>
                                {% if category.alias %}
                                    ({{ category.alias }})
                                {% endif %}
                                Events
                            </a>
                        </li>
                    {% endfor %}
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{{ path('pastevents_index') }}">All <strong>Past</strong> Events</a></li>
                </ul>
            </div>

            {% if searchterm %}
                <div class="row">
                    <div class="col-md-4 offset-md-4">
                        <div class="alert alert-primary" role="alert">
                            Filtered by <strong>{{ searchterm }}</strong> <a class="btn btn-outline-primary btn-sm mx-1" href="/">&#10005; Clear Filter</a>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if app.user %}
                <p><a href="{{ path('event_new') }}" class="btn btn-primary mb-2">Create New Event</a></p>
            {% endif %}

        </div>
    </div>
    {% for event in events %}
        <div class="row bg-light border rounded mb-3">
            <div class="col-md-4 p-4">
                <p><a class="btn btn-secondary btn-sm" href="{{ path('category_filter', {'categoryname': event.categoryid.name}) }}">{{ event.categoryid.name }}</a></p>
                <h3>{{ event.eventdate ? event.eventdate|date('D, d. M. Y') : '' }}</h3><h4>{{ event.eventdate ? event.eventdate|date('H:i') : '' }} Hr.</h4>
                <a href="{{ path('event_show', {'eventid': event.eventid}) }}"><img src="{{ event.imageurl }}" class="img-fluid border rounded"></a>
            </div>
            <div class="col-md-8 p-4">
                <a href="{{ path('event_show', {'eventid': event.eventid}) }}" class="text-decoration-none">
                    <h3>{{ event.teamida.name }} vs. {{ event.teamidb.name }}</h3>
                    <h4>{{ event.name }}</h4>
                </a>
                <p><span class="badge bg-secondary">{{ event.contestid.name }}</span></p>
                <p>{{ event.note }}</p>
                <p><strong>Event-No. {{ event.eventid }} at Location "{{ event.locationid.name }}"</strong></p>
                <p>
                    <a href="{{ path('event_show', {'eventid': event.eventid}) }}" class="btn btn-primary">Details</a>
                    {% if app.user %}
                        <a href="{{ path('event_edit', {'eventid': event.eventid}) }}" class="btn btn-primary">Edit</a>
                    {% endif %}
                </p>
            </div>
        </div>
    {% else %}
        <div class="col-md-12">
            <div class="alert alert-danger text-center">
                <p>No Events Found On Record</p>
            </div>
        </div>
    {% endfor %}

{% endblock %}
