{% extends 'base.html.twig' %}

{% block title %}Country List{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h2>Country List</h2>
            <p>This view is only for logged-in users and presents you with a list of all countries.</p>
            <p><a href="{{ path('country_new') }}" class="btn btn-primary">Create new</a></p>
        </div>
    </div>
    <div class="row">
        {% for country in countries %}
            <div class="col-md-3 text-center p-2">
                <div class="border rounded bg-light p-3">
                <p><img src="{{ country.flagurl }}" class="img-fluid border"></p>
                <h4>{{ country.name }} (ID: {{ country.countryid }})</h4>
                <p><strong>Flag URL:</strong> <a href="{{ country.flagurl }}" target="_blank">{{ country.flagurl }}</a></p>
                <p>
                    <a href="{{ path('country_edit', {'countryid': country.countryid}) }}" class="btn btn-primary btn-sm">Edit</a>
                </p>
                </div>
            </div>
        {% else %}
            <div class="alert alert-danger" role="alert">
                <td colspan="4">No Country Records Found</td>
            </div>
        {% endfor %}
    </div>
{% endblock %}
