{% extends 'base.html.twig' %}

{% block title %}Country index{% endblock %}

{% block body %}
    <h1>Country index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Countryid</th>
                <th>Name</th>
                <th>Flagurl</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for country in countries %}
            <tr>
                <td>{{ country.countryid }}</td>
                <td>{{ country.name }}</td>
                <td>{{ country.flagurl }}</td>
                <td>
                    <a href="{{ path('country_show', {'countryid': country.countryid}) }}">show</a>
                    <a href="{{ path('country_edit', {'countryid': country.countryid}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('country_new') }}">Create new</a>
{% endblock %}
