{% extends 'base.html.twig' %}

{% block title %}Country index{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <h2>Country List</h2>
            <p><a href="{{ path('country_new') }}" class="btn btn-primary">Create new</a></p>

            <table class="table">
                <thead>
                    <tr>
                        <th>Countryid</th>
                        <th>Name</th>
                        <th>Flagurl</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for country in countries %}
                    <tr>
                        <td>{{ country.countryid }}</td>
                        <td>{{ country.name }}</td>
                        <td><img src="{{ country.flagurl }}" class="img-fluid border"></td>
                        <td>
                            <a href="{{ path('country_edit', {'countryid': country.countryid}) }}" class="btn btn-primary btn-sm">Edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
