{% extends 'base.html.twig' %}

{% block title %}Location List{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h2>Location List</h2>
            <p>This view is only for logged-in users and presents you with a list of all locations.</p>
            <p><a href="{{ path('location_new') }}" class="btn btn-primary">Add New Location</a></p>
        </div>
    </div>
    <div class="row">
        {% for location in locations %}
            <div class="col-md-4 p-2">
                <div class="border rounded bg-light p-3">
                    <p class="text-center"><a href="{{ path('location_show', {'locationid': location.locationid}) }}"><img src="{{ location.imageurl }}" alt="{{ location.name }}" class="img-fluid rounded border"></a></p>
                    <h4 class="text-center"><a href="{{ path('location_show', {'locationid': location.locationid}) }}" class="text-decoration-none">{{ location.name }}<br/>(ID: {{ location.locationid }})</a></h4>
                    <p><strong>Max. Audience Capacity:</strong> {{ location.maxaudiencecapacity }} PAX</p>
                    <p>
                        <strong>Address:</strong><br/>
                        {{ location.street }} {{ location.streetno }},<br/>
                        {{ location.postalcode }} {{ location.city }},
                        {{ location.countryid.name }} <img src="{{ location.countryid.flagurl }}" class="border" height="20px">
                    </p>
                    <p><strong>Phone:</strong> {{ location.phone }}</p>
                    <p class="text-break"><strong>Website:</strong> <a href="{{ location.website }}" target="_blank">{{ location.website }}</a></p>
                    <p><strong>Email:</strong> <a href="mailto:{{ location.email }}">{{ location.email }}</a></p>
                    <p>
                        <strong>Description:</strong><br/>
                        {{ location.description }}
                    </p>
                    <p>
                        <a href="{{ path('location_show', {'locationid': location.locationid}) }}" class="btn btn-primary">Details</a>
                        <a href="{{ path('location_edit', {'locationid': location.locationid}) }}" class="btn btn-primary">Edit</a>
                    </p>
                </div>
            </div>
        {% else %}
            <div class="col-md-12">
                <div class="alert alert-danger text-center" role="alert">
                    No Location Records Found
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
