{% extends 'base.html.twig' %}

{% block title %}Location{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h2>Location Details</h2>
            <p><a href="{{ path('default_index') }}" class="btn btn-primary">Back to Events</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h4>{{ location.name }} (ID: {{ location.locationid }})</h4>
            <p><strong>Max. Audience Capacity:</strong> {{ location.maxaudiencecapacity }} PAX</p>
            <div class="row">
                <div class="col-md-4">
                    <p><strong>Address:</strong></p>
                    <p>
                        {{ location.street }} {{ location.streetno }},<br/>
                        {{ location.postalcode }} {{ location.city }},<br/>
                        {{ location.countryid.name }} <img src="{{ location.countryid.flagurl }}" class="border" height="20px">
                    </p>
                </div>
                <div class="col-md-4">
                    <p><strong>Phone:</strong> {{ location.phone }}</p>
                    <p class="text-break"><strong>Website:</strong> <a href="{{ location.website }}" target="_blank">{{ location.website }}</a></p>
                    <p><strong>Email:</strong> <a href="mailto:{{ location.email }}">{{ location.email }}</a></p>
                </div>
                <div class="col-md-4">
                    <p class="text-center"><img src="{{ location.imageurl }}" alt="{{ location.name }}" class="img-fluid rounded border"></p>
                </div>
            </div>
            <p>
                <strong>Description:</strong><br/>
                {{ location.description }}
            </p>
            {% if app.user %}
                <p><a href="{{ path('location_edit', {'locationid': location.locationid}) }}" class="btn btn-primary">Edit</a></p>
                <p>{{ include('location/_delete_form.html.twig') }}</p>
            {% endif %}
            <div class="row">
                    <div class="col-md-12">
                        {{ location.googlemaps }}
                    </div>
            </div>
        </div>

        <div class="col-md-4">
            <h4>Events in this Locations</h4>
            {% for event in locationevents %}
                <div class="col-md-12 mb-2">
                    <div class="border rounded bg-light p-3 ">
                        <p>
                            <a class="btn btn-secondary btn-sm" href="{{ path('category_filter', {'categoryname': event.categoryid.name}) }}">{{ event.categoryid.name }}</a>
                            {% if event.eventdate < datetoday %}
                                <a class="btn btn-danger btn-sm" href="{{ path('pastevents_index') }}">Past Event</a>
                            {% endif %}
                        </p>
                        <a href="{{ path('event_show', {'eventid': event.eventid}) }}" class="text-decoration-none">
                            <h4>{{ event.teamida.name }} vs. {{ event.teamidb.name }}</h4>
                            <h5>{{ event.name }}</h5>
                        </a>
                        <h5>{{ event.eventdate ? event.eventdate|date('D, d. M. Y') : '' }}</h5>
                        <h5>{{ event.eventdate ? event.eventdate|date('H:i') : '' }} Hr.</h5>
                        <a href="{{ path('event_show', {'eventid': event.eventid}) }}"><img src="{{ event.imageurl }}" class="img-fluid border rounded"></a>
                        <p><span class="badge bg-secondary">{{ event.contestid.name }}</span></p>
                        <p>{{ event.note }}</p>
                        <p><strong>Event-No. {{ event.eventid }} at Location "{{ event.locationid.name }}"</strong></p>
                        <p>
                            <a href="{{ path('event_show', {'eventid': event.eventid}) }}" class="btn btn-primary">Details</a>
                            {% if app.user %}
                                <a href="{{ path('event_edit', {'eventid': event.eventid}) }}" class="btn btn-primary">Edit</a>
                            {% endif %}
                        </p>
                    </div>
                </div>
            {% else %}
                <div class="alert alert-danger text-center">
                    <p>No Events Found For This Location</p>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}
