{{ form_start(form) }}

<div class="form-group">
    <div class="row my-2">
        <div class="col-md-12">
            {{ form_label(form.name, 'Role Name') }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            <small>{{ form_help(form.name) }}</small>
            <div class="form-error">
                {{ form_errors(form.name) }}
            </div>
        </div>
    </div>
    <p><button class="btn btn-primary">{{ button_label|default('Save') }}</button></p>
</div>

{{ form_end(form) }}
