{{ form_start(form) }}

<div class="form-group">
    <div class="row my-2">
        <div class="col-md-4">
            {{ form_label(form.firstname, 'First Name') }}
            {{ form_widget(form.firstname, {'attr': {'class': 'form-control'}}) }}
            <small>{{ form_help(form.firstname) }}</small>
            <div class="form-error">
                {{ form_errors(form.firstname) }}
            </div>
        </div>
        <div class="col-md-4">
            {{ form_label(form.middlenames, 'Middle Name(s)') }}
            {{ form_widget(form.middlenames, {'attr': {'class': 'form-control'}}) }}
            <small>{{ form_help(form.middlenames) }}</small>
            <div class="form-error">
                {{ form_errors(form.middlenames) }}
            </div>
        </div>
        <div class="col-md-4">
            {{ form_label(form.lastname, 'Last Name') }}
            {{ form_widget(form.lastname, {'attr': {'class': 'form-control'}}) }}
            <small>{{ form_help(form.lastname) }}</small>
            <div class="form-error">
                {{ form_errors(form.lastname) }}
            </div>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-md-4">
            {{ form_label(form.academictitle, 'Academic Title') }}
            {{ form_widget(form.academictitle, {'attr': {'class': 'form-control'}}) }}
            <small>{{ form_help(form.academictitle) }}</small>
            <div class="form-error">
                {{ form_errors(form.academictitle) }}
            </div>
        </div>
        <div class="col-md-4">
            {{ form_label(form.photourl, 'Photo URL') }}
            {{ form_widget(form.photourl, {'attr': {'class': 'form-control'}}) }}
            <small>{{ form_help(form.photourl) }}</small>
            <div class="form-error">
                {{ form_errors(form.photourl) }}
            </div>
        </div>
        <div class="col-md-4">
            {{ form_label(form.nationality, 'Nationality') }}
            {{ form_widget(form.nationality, {'attr': {'class': 'form-control'}}) }}
            <small>{{ form_help(form.nationality) }}</small>
            <div class="form-error">
                {{ form_errors(form.nationality) }}
            </div>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-md-6">
            {{ form_label(form.teamid, 'Team') }}
            {{ form_widget(form.teamid, {'attr': {'class': 'form-control'}}) }}
            <small>{{ form_help(form.teamid) }}</small>
            <div class="form-error">
                {{ form_errors(form.teamid) }}
            </div>
        </div>
        <div class="col-md-6">
            {{ form_label(form.roleid, 'Role in Team') }}
            {{ form_widget(form.roleid, {'attr': {'class': 'form-control'}}) }}
            <small>{{ form_help(form.roleid) }}</small>
            <div class="form-error">
                {{ form_errors(form.roleid) }}
            </div>
        </div>
    </div>
</div>

<p><button class="btn btn-primary">{{ button_label|default('Save') }}</button></p>

{{ form_end(form) }}
