{% extends 'base.html.twig' %}

{% block title %}Person index{% endblock %}

{% block body %}
    <h2>Team Members</h2>
    <p><a href="{{ path('person_new') }}" class="btn btn-primary">Create new</a></p>
    
    <div class="row">
        {% for person in people %}
            <div class="col-md-3">
                <div class="alert alert-light border">
                    <h4>
                        <a href="{{ path('person_show', {'personid': person.personid}) }}" class="text-decoration-none">
                            {% if person.academictitle %}
                                {{ person.academictitle }}&nbsp;
                            {% endif %}
                            
                            {{ person.firstname }}
                            {% if person.middlenames %}
                                &nbsp;{{ person.middlenames }}&nbsp;
                            {% endif %}
                            {{ person.lastname }}
                        </a>
                    </h4>
                    <p class="text-center">
                        <a href="{{ path('person_show', {'personid': person.personid}) }}" class="text-decoration-none">
                            <img src="{{ person.photourl }}" class="img-fluid rounded">
                        </a>
                    </p>
                    <p><strong>Nationality:</strong> {{ person.nationality.name }}</p>
                    <p class="text-center">
                        <a href="{{ path('person_show', {'personid': person.personid}) }}" class="btn btn-primary btn-sm">Details</a>
                        <a href="{{ path('person_edit', {'personid': person.personid}) }}" class="btn btn-primary btn-sm">Edit</a>
                    </p>
                </div>
            </div>
        {% else %}
            <div class="col-md-12">
                No records found
            </div>
        {% endfor %}
    </div>
{% endblock %}
