{% extends 'base.html.twig' %}

{% block title %}Person List{% endblock %}

{% block body %}
    <h2>Persons (Team Members)</h2>
    <p>This view is only for logged-in users and presents you with a list of all persons.</p>
    <p><a href="{{ path('person_new') }}" class="btn btn-primary">Add New Person</a></p>
    
    <div class="row">
        {% for person in people %}
            <div class="col-md-4">
                <div class="alert alert-light border">
                    <p class="alert alert-warning text-center"><strong>{{ person.teamid.name }}</strong></p>
                    <p class="text-center">
                        {% if person.photourl %}
                            <p><img src="{{ person.photourl }}" alt="{{ person.firstname }} {{ person.lastname }}" class="img-fluid border rounded"></p>
                        {% else %}
                            <p><img src="/assets/persons/person-placeholder.jpg" alt="{{ person.firstname }} {{ person.lastname }}" class="img-fluid"></p>
                        {% endif %}
                    </p>
                    <h4>
                        {% if person.academictitle %}
                            {{ person.academictitle }}&nbsp;
                        {% endif %}
                        {{ person.firstname }}
                        {% if person.middlenames %}
                            &nbsp;{{ person.middlenames }}&nbsp;
                        {% endif %}
                        {{ person.lastname }}
                    </h4>
                    <p>
                        <strong>Role:</strong> {{ person.roleid.name }}<br/>
                        <strong>Nationality:</strong> {{ person.nationality.name }} <img src="{{ person.nationality.flagurl }}" alt="{{ person.nationality.name }}" class="border" height="20px">
                    </p>
                    <p><a href="{{ path('person_edit', {'personid': person.personid}) }}" class="btn btn-primary btn-sm">Edit</a></p>
                </div>
            </div>
        {% else %}
            <div class="col-md-12">
                No records found
            </div>
        {% endfor %}
    </div>
{% endblock %}
