{% extends 'base.html.twig' %}

{% block title %}Person index{% endblock %}

{% block body %}
    <h2>Team Members</h2>
    <p><a href="{{ path('person_new') }}" class="btn btn-primary">Add New Person</a></p>
    
    <div class="row">
        {% for person in people %}
            <div class="col-md-3">
                <div class="alert alert-light border">
                    <p class="alert alert-warning text-center"><strong>{{ person.teamid.name }}</strong></p>
                    <p class="text-center">
                        <img src="{{ person.photourl }}" class="img-fluid border rounded">
                    </p>
                    <h4>
                        {% if person.academictitle %}
                            {{ person.academictitle }}&nbsp;
                        {% endif %}
                        
                        {{ person.firstname }}
                        {% if person.middlenames %}
                            &nbsp;{{ person.middlenames }}&nbsp;
                        {% endif %}
                        {{ person.lastname }}
                    </h4>
                    <p>
                        <strong>Role:</strong> {{ person.roleid.name }}<br/>
                        <strong>Nationality:</strong> {{ person.nationality.name }}
                    </p>
                    <p><a href="{{ path('person_edit', {'personid': person.personid}) }}" class="btn btn-primary btn-sm">Edit</a></p>
                </div>
            </div>
        {% else %}
            <div class="col-md-12">
                No records found
            </div>
        {% endfor %}
    </div>
{% endblock %}
